*{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 100%
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 2px solid #4CAF50;
}

.time {
    font-weight: bold;
    font-size: 16px;
}

.search-bar input {
    padding: 5px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.content-container {
    display: flex;
    padding: 10px;
}

.info-section {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-box {
    border: 2px solid #4CAF50;
    background-color: #f0f8ff;
    padding: 10px;
    border-radius: 8px;
}

.map-container {
    width: 75%;
    padding: 20px;
    background-color: #e6f7ff;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    margin-left: 10px;
}

#map {
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.map-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.map-buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 4px;
    cursor: pointer;
}

.map-buttons button:hover {
    background-color: #45a049;
}
